
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

body {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1000px;
    line-height: 1.6em;
}

li {
    margin-top: 1ex;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid;
    padding: 4px;
}

