<!DOCTYPE html>
<html lang="en">
    <head>
        <title>S. F. Jakobsen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="S. F. Jakobsen">
        <meta
            name="description"
            content="Website of S. F. Jakobsen; About, Socials, Articles, Cheat sheets."
        >
        <link href="style.css" rel="stylesheet">
    </head>

    <body>
        <h1>S. F. Jakobsen</h1>
        <h2>About</h2>
        <p>
            I'm a twentyone year old software developer apprentice with
            interests including but not limited to computer science, practical
            computer programming, programming language theory and compiler
            implementation, and political economy and philosophy.
        </p>
        <h2>Socials</h2>
        <ol>
            <li>Email: sfja2004 at gmail dot com</li>
            <li>
                Github: <a href="https://github.com/SimonFJ20">@SimonFJ20</a>
            </li>
        </ol>
        <h2>Articles</h2>
        $article_index
        <h2>Links</h2>
        <ul>
            <li><a href="https://mtkonge.dk">https://mtkonge.dk</a></li>
            <li><a href="https://tpho.dk">https://tpho.dk</a></li>
            <li><a href="https://reim.ar">https://reim.ar</a></li>
        </ul>
        <h2>Cheat sheets</h2>
        <ul>
            <li><a href="cheat-sheets/cyrillic.html">Cyrillic</a></li>
        </ul>
        <footer>
            $copyright
        </footer>
    </body>
</html>
