<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simon From Jakobsen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1>Simon From Jakobsen</h1>
    <p>&lt;simonfromjakobsen@gmail.com&gt;</p>
    <h2>Articles</h2>
    $article_index
    <h2>About</h2>
    <p>I'm a nineteen year old software developer apprentice with interests including but not limited to computer
        science, practical computer programming, programming language theory and compiler implementation, and economic
        and political philosophy.</p>
    <footer>
        Copyright © 2023 Simon From Jakobsen
    </footer>
</body>

</html>
