<!DOCTYPE html>
<html lang="en">

<head>
    <title>S. F. Jakobsen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1>S. F. Jakobsen</h1>
    <h2>About</h2>
    <p>
        I'm a twenty year old software developer apprentice with interests including but not limited to computer
        science, practical computer programming, programming language theory and compiler implementation,
        and political economy and philosophy.
    </p>
    <h2>Socials</h2>
    <ol>
        <li>Email sfja2004@gmail.com</li>
        <li><a href="https://github.com/SimonFJ20">Github @SimonFJ20</a></li>
    </ol>
    <h2>Articles</h2>
        $article_index
    <h2>Cheat sheets</h2>
    <ul>
        <li><a href="cheat-sheets/cyrillic.html">Cyrillic</a></li>
    </ul>
    <footer>
        Copyright © 2023, 2024 S. F. Jakobsen
    </footer>
</body>

</html>
